<a href="https://colab.research.google.com/github/xbumbleboo/Data-cleaning/blob/main/Data_cleaning_using_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('layoffs.csv')

In [4]:
df

,company,location,industry,total_laid_off,percentage_laid_off,date,stage,country,funds_raised_millions
0,Atlassian,Sydney,Other,500.0,0.05,3/6/2023,Post-IPO,Australia,210.0
1,SiriusXM,New York City,Media,475.0,0.08,3/6/2023,Post-IPO,United States,525.0
2,Alerzo,Ibadan,Retail,400.0,NaN,3/6/2023,Series B,Nigeria,16.0
3,UpGrad,Mumbai,Education,120.0,NaN,3/6/2023,Unknown,India,631.0
4,Loft,Sao Paulo,Real Estate,340.0,0.15,3/3/2023,Unknown,Brazil,788.0
...,...,...,...,...,...,...,...,...,...
2356,Blackbaud,Charleston,Other,500.0,0.14,NaN,Post-IPO,United States,NaN
2357,Yahoo,SF Bay Area,Consumer,1600.0,0.20,2/9/2023,Acquired,United States,6.0
2358,Hibob,Tel Aviv,HR,70.0,0.30,3/30/2020,Series A,Israel,45.0
2359,Casper,New York City,Retail,NaN,NaN,9/14/2021,Post-IPO,United States,339.0
2360,Wildlife Studios,Sao Paulo,Consumer,300.0,0.20,11/28/2022,Unknown,Brazil,260.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2361 entries, 0 to 2360
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   company                2361 non-null   object
 1   location               2361 non-null   object
 2   industry               2357 non-null   object
 3   total_laid_off         1621 non-null   float64
 4   percentage_laid_off    1576 non-null   float64
 5   date                   2360 non-null   object
 6   stage                  2355 non-null   object
 7   country                2361 non-null   object
 8   funds_raised_millions  2152 non-null   float64
dtypes: float64(3), object(6)
memory usage: 166.1+ KB

In [6]:
duplicate_rows = df[df.duplicated()]
len(duplicate_rows)
duplicate_rows

,company,location,industry,total_laid_off,percentage_laid_off,date,stage,country,funds_raised_millions
1492,Cazoo,London,Transportation,750.0,0.15,6/7/2022,Post-IPO,United Kingdom,2000.0
2357,Yahoo,SF Bay Area,Consumer,1600.0,0.20,2/9/2023,Acquired,United States,6.0
2358,Hibob,Tel Aviv,HR,70.0,0.30,3/30/2020,Series A,Israel,45.0
2359,Casper,New York City,Retail,NaN,NaN,9/14/2021,Post-IPO,United States,339.0
2360,Wildlife Studios,Sao Paulo,Consumer,300.0,0.20,11/28/2022,Unknown,Brazil,260.0

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
duplicate_rows = df[df.duplicated()]
len(duplicate_rows)

0

In [12]:
df['funds_raised_millions'].describe()

count      2147.000000
mean        823.135210
std        5600.341074
min           0.000000
25%          50.000000
50%         156.000000
75%         445.000000
max      121900.000000
Name: funds_raised_millions, dtype: float64

In [13]:
negative_values = df[df['funds_raised_millions'] < 0]
len(negative_values)

0

In [16]:
df = df[df['funds_raised_millions'] >= 0]
negative_values = df[df['funds_raised_millions'] < 0]
negative_values

Empty DataFrame
Columns: [company, location, industry, total_laid_off, percentage_laid_off, date, stage, country, funds_raised_millions]
Index: []

In [18]:
df.isnull().sum()

company                    0
location                   0
industry                   4
total_laid_off           660
percentage_laid_off      713
date                       0
stage                      2
country                    0
funds_raised_millions      0
dtype: int64

In [20]:
numerical_columns_with_null = df.select_dtypes(include=['float64', 'int64']).columns
for col in ['total_laid_off', 'percentage_laid_off']:
    if col in numerical_columns_with_null:
        mean_value = df[col].mean()
        df[col].fillna(mean_value, inplace=True)

/tmp/ipython-input-3339948075.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mean_value, inplace=True)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2147 entries, 0 to 2355
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   company                2147 non-null   object
 1   location               2147 non-null   object
 2   industry               2143 non-null   object
 3   total_laid_off         2147 non-null   float64
 4   percentage_laid_off    2147 non-null   float64
 5   date                   2147 non-null   object
 6   stage                  2145 non-null   object
 7   country                2147 non-null   object
 8   funds_raised_millions  2147 non-null   float64
dtypes: float64(3), object(6)
memory usage: 167.7+ KB

In [22]:
df.isnull().sum()

company                  0
location                 0
industry                 4
total_laid_off           0
percentage_laid_off      0
date                     0
stage                    2
country                  0
funds_raised_millions    0
dtype: int64

In [24]:
df = df[df['stage'].notna()]

In [25]:
df.isnull().sum()

company                  0
location                 0
industry                 4
total_laid_off           0
percentage_laid_off      0
date                     0
stage                    0
country                  0
funds_raised_millions    0
dtype: int64

In [26]:
df = df[df['industry'].notna()]

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2141 entries, 0 to 2355
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   company                2141 non-null   object
 1   location               2141 non-null   object
 2   industry               2141 non-null   object
 3   total_laid_off         2141 non-null   float64
 4   percentage_laid_off    2141 non-null   float64
 5   date                   2141 non-null   object
 6   stage                  2141 non-null   object
 7   country                2141 non-null   object
 8   funds_raised_millions  2141 non-null   float64
dtypes: float64(3), object(6)
memory usage: 167.3+ KB

In [35]:
df['date'] = pd.to_datetime(df['date'], format='%m/%d/%Y')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2141 entries, 0 to 2355
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   company                2141 non-null   object
 1   location               2141 non-null   object
 2   industry               2141 non-null   object
 3   total_laid_off         2141 non-null   float64
 4   percentage_laid_off    2141 non-null   float64
 5   date                   2141 non-null   datetime64[ns]
 6   stage                  2141 non-null   object
 7   country                2141 non-null   object
 8   funds_raised_millions  2141 non-null   float64
dtypes: datetime64[ns](1), float64(3), object(5)
memory usage: 167.3+ KB

In [36]:
df

,company,location,industry,total_laid_off,percentage_laid_off,date,stage,country,funds_raised_millions
0,Atlassian,Sydney,Other,500.000000,0.0500,2023-03-06,Post-IPO,Australia,210.0
1,SiriusXM,New York City,Media,475.000000,0.0800,2023-03-06,Post-IPO,United States,525.0
2,Alerzo,Ibadan,Retail,400.000000,0.2517,2023-03-06,Series B,Nigeria,16.0
3,UpGrad,Mumbai,Education,120.000000,0.2517,2023-03-06,Unknown,India,631.0
4,Loft,Sao Paulo,Real Estate,340.000000,0.1500,2023-03-03,Unknown,Brazil,788.0
...,...,...,...,...,...,...,...,...,...
2351,Service,Los Angeles,Travel,225.527236,1.0000,2020-03-16,Seed,United States,5.1
2352,HopSkipDrive,Los Angeles,Transportation,8.000000,0.1000,2020-03-13,Unknown,United States,45.0
2353,Panda Squad,SF Bay Area,Consumer,6.000000,0.7500,2020-03-13,Seed,United States,1.0
2354,Tamara Mellon,Los Angeles,Retail,20.000000,0.4000,2020-03-12,Series C,United States,90.0
2355,EasyPost,Salt Lake City,Logistics,75.000000,0.2517,2020-03-11,Series A,United States,12.0